*.obj
**/.metadata
**/.jxbrowser.userdata
*.out
*.map
*.obj
*.obj
**/CPU1_FLASH
*.obj
CPU1_FLASH/tlc698x_lp589x_f28003x.out
CPU1_FLASH/tlc698x_lp589x_f28003x.map
CPU1_FLASH/TLC698x_LP589x_APIs.obj
CPU1_FLASH/system_info.obj
CPU1_FLASH/main.obj
CPU1_FLASH/led_hal.obj
CPU1_FLASH/frames.obj
CPU1_FLASH/CCSI_Socket.obj
